@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.pop-shop {
    position: absolute;
    background-color: #F8ECC2;
}

.shop-item {
    display: flex;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

.shop-item img {
    height: 96px;
    width: auto;
    margin-right: 16px;
    align-items: center;
}

.shop-item button {
    position: absolute;
    right: 40px;
}

.shop-item h3, span {
    margin-top: 0px;
    font-family: "Press Start 2P", cursive;
}

.description .name {
    font-size: 1.25rem;
}

.description .price {
    font-size: .5rem;
}